.dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  &-item {
    cursor: pointer;
    user-select: none;
    line-height: 30px;
    width: 80px;
    padding-left: 20px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
    &+& {
      border-top: 1px solid #ccc;
    }
  }
}